body {color:brown;}

#container{
    background: #079760;
    height:300px;
    width: 70%;
}
#item{
    border: 1px solid #cccccc;
    height: 50px;
    width:50%;
    margin:0 auto;
    text-align:center;
}